[submodule "vim/pack/superevil/start/vim-airline"]
	path = vim/pack/superevil/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/superevil/start/goyo.vim"]
	path = vim/pack/superevil/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "vim/pack/superevil/start/ctrlp.vim"]
	path = vim/pack/superevil/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/superevil/start/matchit.zip"]
	path = vim/pack/superevil/start/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip
[submodule "vim/pack/superevil/start/vim-javascript-syntax"]
	path = vim/pack/superevil/start/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "vim/pack/superevil/start/syntastic"]
	path = vim/pack/superevil/start/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/pack/superevil/start/nerdtree"]
	path = vim/pack/superevil/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/pack/superevil/start/vim-commentary"]
	path = vim/pack/superevil/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/superevil/start/vim-repeat"]
	path = vim/pack/superevil/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vim/pack/superevil/start/vim-surround"]
	path = vim/pack/superevil/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/superevil/start/vim-unimpaired"]
	path = vim/pack/superevil/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "vim/pack/superevil/start/vim-fugitive"]
	path = vim/pack/superevil/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/pack/superevil/start/ferret"]
	path = vim/pack/superevil/start/ferret
	url = https://github.com/wincent/ferret
[submodule "vim/pack/superevil/start/tabular"]
	path = vim/pack/superevil/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/pack/superevil/start/vim-markdown"]
	path = vim/pack/superevil/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "vim/pack/superevil/start/vim-gitgutter"]
	path = vim/pack/superevil/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/superevil/start/bufexplorer"]
	path = vim/pack/superevil/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "vim/pack/superevil/start/delimitMate"]
	path = vim/pack/superevil/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "vim/pack/superevil/start/vim-misc"]
	path = vim/pack/superevil/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "vim/pack/superevil/start/vim-addon-mw-utils"]
	path = vim/pack/superevil/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "vim/pack/superevil/start/tlib_vim"]
	path = vim/pack/superevil/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "vim/pack/superevil/start/tagbar"]
	path = vim/pack/superevil/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/pack/superevil/start/editorconfig-vim"]
	path = vim/pack/superevil/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "vim/pack/superevil/start/gundo.vim"]
	path = vim/pack/superevil/start/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "vim/pack/superevil/start/vim-easymotion"]
	path = vim/pack/superevil/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "vim/pack/superevil/start/vim-dispatch"]
	path = vim/pack/superevil/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "vim/pack/superevil/start/investigate.vim"]
	path = vim/pack/superevil/start/investigate.vim
	url = https://github.com/keith/investigate.vim
[submodule "vim/pack/superevil/start/tern_for_vim"]
	path = vim/pack/superevil/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "vim/pack/superevil/start/deoplete.nvim"]
	path = vim/pack/superevil/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "vim/pack/superevil/start/nvim-yarp"]
	path = vim/pack/superevil/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp
[submodule "vim/pack/superevil/start/vim-hug-neovim-rpc"]
	path = vim/pack/superevil/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc
[submodule "vim/pack/superevil/start/OpenUrl.nvim"]
	path = vim/pack/superevil/start/OpenUrl.nvim
	url = https://github.com/superevilmegaco/OpenUrl.nvim
[submodule "vim/pack/superevil/opt/onedark.vim"]
	path = vim/pack/superevil/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
