[submodule "nvim/pack/superevil/start/vim-airline"]
	path = nvim/pack/superevil/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "nvim/pack/superevil/start/goyo.vim"]
	path = nvim/pack/superevil/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
[submodule "nvim/pack/superevil/start/ctrlp.vim"]
	path = nvim/pack/superevil/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "nvim/pack/superevil/start/matchit.zip"]
	path = nvim/pack/superevil/start/matchit.zip
	url = https://github.com/vim-scripts/matchit.zip
[submodule "nvim/pack/superevil/start/nerdtree"]
	path = nvim/pack/superevil/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "nvim/pack/superevil/start/vim-commentary"]
	path = nvim/pack/superevil/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "nvim/pack/superevil/start/vim-repeat"]
	path = nvim/pack/superevil/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "nvim/pack/superevil/start/vim-surround"]
	path = nvim/pack/superevil/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/pack/superevil/start/vim-unimpaired"]
	path = nvim/pack/superevil/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/pack/superevil/start/vim-fugitive"]
	path = nvim/pack/superevil/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/pack/superevil/start/ferret"]
	path = nvim/pack/superevil/start/ferret
	url = https://github.com/wincent/ferret
[submodule "nvim/pack/superevil/start/tabular"]
	path = nvim/pack/superevil/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "nvim/pack/superevil/start/vim-markdown"]
	path = nvim/pack/superevil/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule "nvim/pack/superevil/start/vim-gitgutter"]
	path = nvim/pack/superevil/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "nvim/pack/superevil/start/bufexplorer"]
	path = nvim/pack/superevil/start/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer
[submodule "nvim/pack/superevil/start/delimitMate"]
	path = nvim/pack/superevil/start/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule "nvim/pack/superevil/start/vim-misc"]
	path = nvim/pack/superevil/start/vim-misc
	url = https://github.com/xolox/vim-misc
[submodule "nvim/pack/superevil/start/vim-addon-mw-utils"]
	path = nvim/pack/superevil/start/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils
[submodule "nvim/pack/superevil/start/tlib_vim"]
	path = nvim/pack/superevil/start/tlib_vim
	url = https://github.com/tomtom/tlib_vim
[submodule "nvim/pack/superevil/start/tagbar"]
	path = nvim/pack/superevil/start/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "nvim/pack/superevil/start/editorconfig-vim"]
	path = nvim/pack/superevil/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "nvim/pack/superevil/start/gundo.vim"]
	path = nvim/pack/superevil/start/gundo.vim
	url = https://github.com/sjl/gundo.vim
[submodule "nvim/pack/superevil/start/vim-easymotion"]
	path = nvim/pack/superevil/start/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "nvim/pack/superevil/start/vim-dispatch"]
	path = nvim/pack/superevil/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "nvim/pack/superevil/start/investigate.vim"]
	path = nvim/pack/superevil/start/investigate.vim
	url = https://github.com/keith/investigate.vim
[submodule "nvim/pack/superevil/start/tern_for_vim"]
	path = nvim/pack/superevil/start/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim
[submodule "nvim/pack/superevil/start/deoplete.nvim"]
	path = nvim/pack/superevil/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "nvim/pack/superevil/start/OpenUrl.nvim"]
	path = nvim/pack/superevil/start/OpenUrl.nvim
	url = https://github.com/superevilmegaco/OpenUrl.nvim
[submodule "nvim/pack/superevil/opt/onedark.vim"]
	path = nvim/pack/superevil/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
[submodule "nvim/pack/superevil/start/vim-javascript"]
	path = nvim/pack/superevil/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "nvim/pack/superevil/start/vim-jsx"]
	path = nvim/pack/superevil/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "nvim/pack/superevil/start/emmet-vim"]
	path = nvim/pack/superevil/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "nvim/pack/superevil/start/ale"]
	path = nvim/pack/superevil/start/ale
	url = https://github.com/w0rp/ale
[submodule "nvim/pack/superevil/start/asyncrun.vim"]
	path = nvim/pack/superevil/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "nvim/pack/superevil/start/vim-tsx-pretty"]
	path = nvim/pack/superevil/start/vim-tsx-pretty
	url = https://github.com/aanari/vim-tsx-pretty
[submodule "nvim/pack/superevil/start/typescript-vim"]
	path = nvim/pack/superevil/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "nvim/pack/superevil/start/vim-jsx-typescript"]
	path = nvim/pack/superevil/start/vim-jsx-typescript
	url = https://github.com/peitalin/vim-jsx-typescript
[submodule "nvim/pack/superevil/start/vim-mustache-handlebars"]
	path = nvim/pack/superevil/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule "nvim/pack/superevil/start/vim-go"]
	path = nvim/pack/superevil/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "nvim/pack/superevil/start/vim-dadbod"]
	path = nvim/pack/superevil/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule "nvim/pack/superevil/start/vim-toml"]
	path = nvim/pack/superevil/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "nvim/pack/superevil/start/ultisnips"]
	path = nvim/pack/superevil/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "nvim/pack/superevil/start/vim-snippets"]
	path = nvim/pack/superevil/start/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "nvim/pack/superevil/start/deoplete-go"]
	path = nvim/pack/superevil/start/deoplete-go
	url = https://github.com/zchee/deoplete-go
[submodule "nvim/pack/superevil/start/deoplete-ternjs"]
	path = nvim/pack/superevil/start/deoplete-ternjs
	url = https://github.com/carlitux/deoplete-ternjs
[submodule "nvim/pack/superevil/start/php.vim"]
	path = nvim/pack/superevil/start/php.vim
	url = https://github.com/StanAngeloff/php.vim
