snippet doc "Writes DocBlock" !b
/**
 * ${1:Description}
 *
 * @param ${2:String} ${3:paramName}
 * @author Marco Kellershoff <${4:marco@kellershoff.net}>
 *
 * @return ${5:String} ${6:Description}
 */
endsnippet
